* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all 0.5s;

  /* &:hover {
    color: $;
  } */
}

li {
  list-style-type: none;
}

button {
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.container {
  max-width: 911px;
  padding: 0 22px;
  margin: 0 auto;
  font-family: "Inter";
  position: relative;
}

/* //////////////////

  header

///////////////////////*/

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header {
  padding: 10px 9px 11px 9px;
  border-radius: 0 0 14px 14px;
  background-color: #ffca3a;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px -8px 15px 8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px -8px 15px 8px rgba(34, 60, 80, 0.2);
  box-shadow: 0px -8px 15px 8px rgba(34, 60, 80, 0.2);
  width: 100%;
  max-width: 869px;
  margin: 0 auto;
}

.home__link {
  display: flex;
  margin-right: 61px;
}

.route__items {
  display: flex;
  gap: 29px;
}

.route__item {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.main {
  margin-top: 87px;
}

/* //////////////////

  menu

///////////////////////*/

.menu-btn {
  display: none;
  width: 32px;
  height: 22px;
  margin-right: 38px;
  background-image: url("./../images/main/menu-icon.svg");
  background-repeat: no-repeat;
  transition: none;
}

.home,
.menu-social__network {
  display: none;
}
.header__nav {
  display: flex;
}
@media screen and (max-width: 820px) {
  .header {
    padding: 13px 19px;
  }

  .home__link {
    margin-right: 20px;
  }

  .route__items {
    gap: 15px;
  }
}

@media screen and (max-width: 670px) {
  .header__wrapper._active-menu {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  .menu__wrapper {
    opacity: 0;
    display: none;
    padding: 40px 0 25px 0;
    border-radius: 0 0 14px 14px;
  }

  ._active-menu .menu__wrapper {
    display: block !important;
    animation: showBurger 2.5s forwards;
  }

  @keyframes showBurger {
    100% {
      background-color: #ffca3a;
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }

  ._active-menu .menu-btn {
    background-image: url("./../images/main/black-close.svg");
  }

  .home__link {
    margin-right: 0;
  }

  .menu-btn {
    display: block;
  }

  .route__items {
    flex-direction: column;
    gap: 28px;
    padding-bottom: 94px;
    margin-bottom: 32px;
    border-bottom: 2px solid #ffffff;
  }

  .home {
    display: flex;
  }

  .route__item {
    font-weight: bold;
    display: flex;
    gap: 13px;
    align-items: center;
  }

  .route__items li .route__item::before {
    content: "";
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: flex;
    background-size: contain;
  }

  .route__items li:nth-child(1) .route__item::before {
    background-image: url("./../images/main/home-icon.svg");
  }
  .route__items li:nth-child(2) .route__item::before {
    background-image: url("./../images/main/i-icon.svg");
  }
  .route__items li:nth-child(3) .route__item::before {
    background-image: url("./../images/main/book-icon.svg");
  }
  .route__items li:nth-child(4) .route__item::before {
    background-image: url("./../images/main/mail-icon.svg");
  }
  .route__items li:nth-child(5) .route__item::before {
    background-image: url("./../images/main/blank-icon.svg");
  }

  .menu-social__network {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .menu-social-network__item {
    display: flex;
    align-items: center;
    gap: 27px;
  }

  .menu-social-network__item .social-network-item__left-icon,
  .menu-social-network__item .social-network-item__left {
    width: 44px;
    height: 44px;
  }
  .menu-social-network__item .social-network-item__left-icon {
    background-size: 26px;
  }

  .menu-social-network-item__right {
    display: flex;
    flex-direction: column;
  }

  .menu-social-network-item__right .social-network-item__right-link {
    font-size: 16px;
  }

  .menu-social-network-item__right .social-network-item__right-desc {
    font-size: 12px;
  }

  .menu-social-network__item .social-network-item__left-icon3 {
    width: 44px;
    height: 44px;
    background-size: 48px;
    background-image: url("./../images/main/telegram-mobile.svg");
  }

  .menu__wrapper {
    width: 100%;
  }
  .header {
    flex-direction: column;
    align-items: start;
  }
}

/* //////////////////

  introduction

///////////////////////*/

.introduction {
  display: flex;
  gap: 50px;
  margin-bottom: 41px;
}

.introduction-left__title {
  font-size: clamp(20px, 4vw, 32px);
  margin-bottom: 54px;
  max-width: 366px;
}

.introduction-left__text {
  max-width: 526px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
}

.introduction-right__cicle {
  -webkit-box-shadow: 4px 4px 30px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 30px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 30px 5px rgba(34, 60, 80, 0.2);
  width: 239px;
  height: 239px;
  border-radius: 100%;
  background-image: url("./../images/about-us/s-group.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hand-anim__img {
  animation: move-back-and-forth 2s linear infinite;
  margin-bottom: 32px;
}

@keyframes move-back-and-forth {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* //////////////////

  clients choose

///////////////////////*/

.clients__choose {
  margin-bottom: 78px;
}

.clients-choose__title,
.clients-security__title {
  font-size: clamp(20px, 4vw, 32px);
  margin-bottom: 59px;
  text-align: center;
}

.clients-choose__items {
  display: grid;
  grid-template-columns: 275px 255px 246px;
  gap: 47px 76px;
}

.clients-choose-items__item,
.clients-security-items__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.clients-choose-items__left,
.clients-security-items__left {
  width: 35px;
  height: 35px;
  display: flex;
}

.clients-choose-item__left-icon,
.clients-security-item__left-icon {
  width: 35px;
  height: 35px;
  background-color: #ffca3a;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.clients-choose-item__left-icon1 {
  background-image: url("./../images/about-us/Vector1.svg");
}
.clients-choose-item__left-icon2 {
  background-image: url("./../images/about-us/Vector2.svg");
}
.clients-choose-item__left-icon3 {
  background-image: url("./../images/about-us/Vector3.svg");
}
.clients-choose-item__left-icon4 {
  background-image: url("./../images/about-us/Vector4.svg");
}
.clients-choose-item__left-icon5 {
  background-image: url("./../images/about-us/Vector5.svg");
}
.clients-choose-item__left-icon6 {
  background-image: url("./../images/about-us/Vector6.svg");
}

.clients-choose-items__right-title,
.clients-security-items__right-title {
  font-size: 16px;
  font-weight: 600;
}

.clients-choose-items__right-subTitle {
  font-size: 13px;
}

/* 
/////////////
  clients security
///////////////
*/

.clients__security {
  margin-bottom: 62px;
}

.clients-security__items {
  display: grid;
  grid-template-columns: 260px 270px;
  gap: 23px 60px;
  justify-content: center;
}

.clients-security-item__left-icon1 {
  background-image: url("./../images/about-us/Vector7.svg");
}
.clients-security-item__left-icon2 {
  background-image: url("./../images/about-us/Vector8.svg");
}
.clients-security-item__left-icon3 {
  background-image: url("./../images/about-us/Vector0.svg");
}
.clients-security-item__left-icon4 {
  background-image: url("./../images/about-us/Vector9.svg");
}

/* 
///////////////
  reviews
//////////////
*/

.reviews {
  margin-bottom: 80px;
}

.reviews__title {
  font-size: clamp(20px, 4vw, 32px);
  margin-bottom: 80px;
  text-align: center;
}

/* 
///////////////////////
  service
///////////////////////
*/

.service {
  margin-bottom: 40px;
}

.service__wrapper {
  background-color: #ffca3a;
  display: flex;
  border-radius: 25px;
  justify-content: space-between;
}

.service__left {
  display: flex;
}

.service-left__image {
  border-radius: 25px 100% 100% 25px;
}

.service__right {
  padding: 33px 22px 5px 22px;
  text-align: center;
  max-width: 545px;
}

.service-right__title {
  text-align: center;
  font-size: clamp(20px, 4vw, 32px);
  margin-bottom: 24px;
}

.service-right__text {
  font-size: 14px;
  margin-bottom: 43px;
}

.create-order {
  border-radius: 12px;
  border: none;
  padding: 11px 34px;
  font-size: clamp(18px, 4vw, 20px);
  background-color: #000000;
  color: #ffca3a;
}

/* 
//////////////////////
  reviews
//////////////////////
*/

.reviews .swiper {
  max-height: 200px;
  max-width: 1245px;
  width: 100%;
  padding: 0 145px !important;
  position: relative;
}

.reviews .swiper-wrapper {
  padding: 20px 0;
}

.reviews__item {
  padding: 31px 10px 16px 14px;
  -webkit-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  border-radius: 15px;
}

.reviews-item__text {
  font-size: 10px;
  margin-bottom: 23px;
  font-weight: 400;
}

.reviews-item__info {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.reviews-item-info__icon {
  height: 26px;
  width: 25px;
  display: flex;
  background-image: url("./../images/main/client.svg");
  background-repeat: no-repeat;
}

.reviews-item-tag__name {
  font-weight: bold;
  font-size: 14px;
  font-weight: 600;
  font-size: 10px;
  color: #35bd00;
}

.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  width: 63px;
  height: 63px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2);
  position: absolute;
  background-repeat: no-repeat;
  top: 30%;
  background-color: #ffff;
  background-position: center;
  z-index: 1;
  cursor: pointer;
}

.reviews .swiper-button-prev {
  background-image: url("./../images/about-us/arrow-prev.svg");
  left: 25%;
}

.reviews .swiper-button-next {
  background-image: url("./../images/about-us/arrow-next.svg");
  right: 25%;
}

.reviews .swiper-slide {
  filter: blur(2px);
}

.reviews .swiper-slide-active {
  filter: none;
}

/* 
////////////////////
  footer
////////////////////
*/
.footer {
  margin-bottom: 15px;
}

.social__network {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 17px;
}

.social-network__item {
  max-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffca3a;
  border-radius: 13px;
  padding: 4px 7px;
  -webkit-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
}

.social-network-item__left {
  display: flex;
  width: 25px;
  height: 25px;
}

.social-network-item__left-icon {
  background-color: #000;
  padding: 5px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-network-item__left-icon1,
.social-network-item__left-icon2 {
  background-image: url("./../images/main/message.svg");
}

.social-network-item__left-icon3 {
  width: 25px;
  height: 25px;
  background-image: url("./../images/main/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px;
  background-color: #FFFF;
  border-radius: 338px; 
}

.social-network-item__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.social-network-item__right-link {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 2px;
}

.social-network-item__right-desc {
  font-size: 7px;
}

.footer__info {
  font-size: 11px;
  text-align: center;
}

/* 
///////////////
  ABOUT US MOBILE
///////////////
*/

@media screen and (max-width: 1024px) {
  .introduction-right__cicle {
    width: 180px;
    height: 180px;
    background-size: 99px;
  }
  .clients-choose__items {
    grid-template-columns: 260px 270px;
    justify-content: center;
    gap: 23px 60px;
  }
}

@media screen and (max-width: 740px) {
  .reviews .swiper-button-next,
  .reviews .swiper-button-prev {
    display: none;
  }

  .reviews .swiper {
    padding: 0 54px !important;
  }
}

@media screen and (max-width: 670px) {
  .introduction__left {
    height: 164px;
  }
  .introduction-right__cicle {
    width: 116px;
    height: 116px;
    background-size: 59px;
  }

  .introduction-left__title {
    margin-bottom: 20px;
    max-width: 229px;
  }

  .introduction-left__text {
    font-size: 10px;
    position: absolute;
    max-width: 304px;
  }

  .hand {
    display: none;
  }
  .introduction {
    gap: 15px;
    justify-content: space-between;
  }

  .introduction,
  .reviews__title {
    margin-bottom: 30px;
  }

  .clients-choose__title,
  .clients-security__title {
    margin-bottom: 25px;
  }

  .clients-choose__items,
  .clients-security__items {
    grid-template-columns: 295px;
    gap: 26px;
  }

  .clients__choose {
    margin-bottom: 37px;
  }

  .clients-security__title,
  .clients__security {
    margin-bottom: 22px;
  }

  .reviews {
    margin-bottom: 40px;
  }

  .service {
    margin-bottom: 25px;
  }

  .service__wrapper {
    flex-direction: column;
  }

  .service-left__image {
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    clip-path: polygon(100% 0, 100% 56%, 18% 100%, 0 100%, 0 0);
  }

  .service__right {
    padding: 22px 5px 28px 5px;
  }

  .social__network {
    display: none;
  }
}
/* 
///////////////
  feedbacks
///////////////
*/

.feedback-wrapper__title {
  margin-bottom: 41px;
  font-size: clamp(20px, 4vw, 23px);
}

.feedbacks {
  margin-bottom: 58px;
  gap: 30px 81px;
  display: grid !important;
  grid-template-columns: 240px 240px 240px;
}

.feedback {
  border-radius: 25px;
  padding: 18px 11px;
  background-color: #ffff;
  -webkit-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
}

.feedback__info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 6px;
}

.feedback-info__name {
  font-weight: 600;
  font-size: 16px;
}

.feedback-info__icon {
  background-image: url("./../images/main/client.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 26px;
}

.feedback__text {
  font-size: 10px;
  font-weight: 500;
}

/* 
///////////////
  calculator
///////////////
*/

.calculator {
  margin-bottom: 35px;
}

.calculator__top {
  margin-bottom: 34px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.calculator-top__title {
  font-size: clamp(20px, 4vw, 23px);
}

.calculator-top__recerve {
  max-width: 240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #000;
  border-radius: 9px;
  padding: 13px 10px 14px 13px;
}

.calculator-recerve-top__text,
.calculator-recerve-top__total {
  color: #ffca3a;
  font-size: 13px;
}

.calculator-recerve-top__text {
  font-weight: 600;
}

.calculator__bottom {
  display: flex;
}

.calculator-bottom__send,
.calculator-bottom__receive {
  max-width: 309px;
  height: 603px;
  width: 100%;
  padding: 10px 4px 33px 3px;
  background-color: #ffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0 24px 24px 24px;
}

.calculator-bottom__send {
  margin-right: 12px;
}

.calculator-bottom__receive {
  margin-right: 20px;
}

.calculator-tabs__full {
  overflow-y: hidden;
  overflow-y: scroll;
  height: 510px;
  padding: 5px 3px 4px 1px;
}
.calculator-tabs__full::-webkit-scrollbar {
  width: 4px;
  display: block !important;
  -webkit-appearance: none;
}

.calculator-tabs__full::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6c6ea0;
  display: block !important;
}

.calculator-bottom-send__title {
  font-size: clamp(18px, 4vw, 20px);
  margin-bottom: 8px;
  font-weight: 600;
  padding-left: 5px;
}

.calculator-tabs__items {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 19px;
  padding-left: 5px;
  flex-wrap: wrap;
}

.calculator-tabs-items__item {
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px 9px;
}

.ui-state-active {
  background-color: #ffca3a;
}

.ui-tabs-active a {
  color: #ffff;
}

.calculator-tabs__items-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item-block__currency {
  background: none;
  border: none;
  outline: none;
  display: flex;
  gap: 4px;
  align-items: center;
}

.item-block_valute__currency .item-block-currency__image {
  padding: 4px;
  background-color: #ffff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.item-block_bank__currency .item-block-currency__image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  object-fit: scale-down;
}

.currency__item-block__name {
  display: flex;
  font-weight: 600;
  font-size: 14px;
}

._active-receive,
._active-valute {
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

._active-receive .item-block-currency__image,
._active-valute .item-block-currency__image {
  box-shadow: none;
}

/* 
/////////////////
  calculator exchange
/////////////////
*/

.calculator-bottom__exchange {
  font-size: 12px;
  max-width: 240px;
  height: 603px;
  width: 100%;
  padding: 10px 9px 16px 12px;
  font-weight: 500;
  background-color: #ffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0 24px 24px 24px;
}

.calculator-exchange-details__title,
.calculator-exchange-result__title {
  font-size: clamp(18px, 4vw, 20px);
  margin-bottom: 8px;
}

.calculator-result-crypto__title,
.calculator-exchange-details-form-block__name,
.calculator-exchange-result__crypto {
  margin-bottom: 8px;
}

.calculator-result-crypto__info {
  display: flex;
  align-items: center;
  padding: 7px 8px 6px 7px;
  border-radius: 10px;
  background-color: #ffff;
  max-width: 219px;
  -webkit-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
}

.calculator-exchange__result {
  margin-bottom: 10px;
}

.calculator-result-crypto-info__icon-block {
  margin-right: 5px;
}

.calculator-result-crypto-info__icon-block img {
  width: 25px;
  height: 25px;
}

.calculator-result-crypto-info__value {
  display: flex;
  height: 25px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-right: 5px;
  width: 100%;
}

.calculator-result-crypto-info__type {
  font-size: clamp(18px, 4vw, 20px);
  color: #717171;
}

.exchange__rates {
  font-size: 10px;
  width: 100%;
}

.exchange__rates tbody {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}
.exchange__rates tr {
  display: flex;
  justify-content: space-between;
}

.exchange__rates tr td {
  color: #717171;
}

.calculator-exchange-details-form__blocks {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calculator-exchange-details-form-block__input {
  display: flex;
  border: none;
  outline: none;
  font-size: 12px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffff;
  max-width: 219px;
  -webkit-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  padding: 11px;
  font-weight: 500;
}

.calculator-exchange-details-form__block-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.calculator-exchange-details-form__block-checkbox {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 9px;
}

.calculator-exchange-details-form__link {
  color: #35bd00;
  border-bottom: 1px solid #35bd00;
}

.proceed-payment__box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.proceed-payment {
  border: none;
  text-align: center;
  padding: 11px 0;
  width: 100%;
  color: #000000;
  border-radius: 10px;
  background-color: #ffff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
}

.proceed-payment:hover {
  background-color: #000;
  color: #ffca3a;
}

.calculator-exchange-details-form__checkbox {
  display: flex;
  align-items: center;
  position: relative;
  height: fit-content;
}

.calculator-exchange-details-form__checkbox
  .calculator-exchange-details-form__checkbox-input {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  background: #ffff;
  border-radius: 5px;
  -webkit-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -5px -4px 8px -1px rgba(34, 60, 80, 0.2);
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.calculator-exchange-details-form__checkbox
  .calculator-exchange-details-form__checkbox-input:checked
  ~ .checkbox
  .checkmark {
  display: block;
}

.calculator-exchange-details-form__checkbox
  .calculator-exchange-details-form__checkbox-input:checked
  ~ .checkbox {
  background: #35bd00;
  border: 2px solid #35bd00;
}

.calculator-exchange-details-form-block__input.error {
  background-color: #ffd3d3;
}

.calculator-exchange-details-form-block__input::placeholder {
  color: #bfbfbf;
  font-weight: 500;
}

.calculator-exchange-details-form-block__input.error::placeholder {
  color: #ff5959;
}

.calculator-exchange-details-form__checkbox-input.error {
  background-color: #ffd3d3;
  border-radius: 5px;
}

label.error {
  display: none !important;
}

/* 
//////////////
  order
//////////////
*/
.order {
  margin-bottom: 25px;
}

.order__title {
  font-size: clamp(25px, 4vw, 23px);
  margin-bottom: 55px;
}

.full__order {
  display: flex;
  gap: 23px;
}

/* 
//////////////
  Exchange details
//////////////
*/

.order__details {
  background-color: #ffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0 24px 24px 24px;
  max-width: 240px;
  width: 100%;
  padding: 15px;
}

.order-details__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}

.title-mobile {
  margin-bottom: 12px;
}

.order-details__title {
  font-size: 20px;
}

.order-details__title-arrow {
  display: none;
  width: 24px;
  height: 14px;
  background-image: url("./../images/main/push-arrow-bottom.svg");
  background-repeat: no-repeat;
}

.convert-order__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.first-convert-item {
  margin-bottom: 5px;
}

.order__convert {
  margin-bottom: 18px;
}

.icon-item-order__img {
  width: 25px;
  height: 25px;
  padding: 4px;
  object-fit: contain;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.info-item-order__amount {
  font-size: 12px;
  color: #646464;
  font-weight: 600;
}

.item-order__info {
  display: flex;
  flex-direction: column;
}

.info-item-order__address {
  font-size: 7px;
  color: #646464;
}

.convert-order__arrow {
  display: flex;
  background-image: url("./../images/main/arrow-bottom.svg");
  background-repeat: no-repeat;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 100%;
  height: 19px;
}

.stages-order__order-stage {
  margin-bottom: 3px;
}

.stages-order__final-stage,
.stages-order__order-stage {
  display: flex;
  align-items: center;
  gap: 4px;
}

.stages-order-stage__text,
.stages-final-stage__text {
  font-size: 13px;
  color: #646464;
  font-weight: 500;
}

.stages-order__icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.icon-stages-order__dash {
  background-color: #646464;
}

.icon-stages-order__dash:nth-child(1) {
  height: 2.5px;
  width: 2px;
}

.icon-stages-order__dash:nth-child(2) {
  height: 5px;
  width: 2px;
}

.icon-stages-order__dash:nth-child(3) {
  height: 2.5px;
  width: 2px;
}

.stages-order-stage__icon,
.stages-final-stage__icon {
  width: 14px;
  height: 14px;
  border: 2px solid #717171;
  border-radius: 100%;
}

._active-stage .stages-order-stage__icon,
._active-stage .stages-final-stage__icon {
  border-color: #35bd00;
}

._active-stage .stages-order-stage__text,
._active-stage .stages-final-stage__text {
  color: #35bd00;
}

/* 
//////////////
  Payment
//////////////
*/

.order__payment {
  padding: 14px 24px 22px 22px;
  background-color: #ffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0 24px 24px 24px;
  width: 100%;
}

.header-under-order__title {
  display: flex;
  align-items: baseline;
  gap: 5px;
  justify-content: space-between;
  margin-bottom: 11px;
}

.title-header-under-order__text {
  font-size: 20px;
}

.title-header-under-order__counter {
  font-size: 20px;
  color: #797979;
}

.header-under-order__text {
  font-size: 11px;
}

.under-order__header {
  margin-bottom: 25px;
}

.details-under__title {
  font-size: 16px;
  margin-bottom: 25px;
}

.details-under__info {
  padding: 13px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 24px;
  margin-bottom: 16px;
}

.info-details-under__recieve {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.recieve-info-details-under__icon {
  object-fit: cover;
  width: 25px;
  height: 25px;
  padding: 4px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.address-info-details-under__title {
  font-size: 10px;
  margin-bottom: 6px;
}

.address-info-details-under__content {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.content-address-info-details-under__code {
  margin-right: 6px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qrIcon {
  cursor: pointer;
  display: flex;
  width: 18px;
  height: 18px;
  background-image: url("./../images/main/qr-icon.svg");
  background-repeat: no-repeat;
}

.copyIcon {
  cursor: pointer;
  display: flex;
  width: 16px;
  height: 15px;
  background-image: url("./../images/main/copy-icon.svg");
  background-repeat: no-repeat;
}

.info-details-under__text {
  padding: 12px 30px 14px 13px;
  font-size: 11px;
  margin-bottom: 16px;
  background-color: #e7e7e7;
  border-radius: 24px;
}

.info-details-under__total {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.payment-total-info-details-under__title {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

.payment-total-info-details-under__price {
  display: flex;
  gap: 3px;
}

.payment-total-info-details-under__price .total__price {
  font-weight: bold;
  font-size: 14px;
}

.total-info-details-under__buttons {
  display: flex;
  gap: 21px;
}

.total-info-details-under__buttons button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0;
  width: 153px;
  border: none;
  border-radius: 7px;
}

.buttons-total-info-details-under__paid {
  background-color: #35bd00;
}

.buttons-total-info-details-under__cancel {
  background-color: #ff5f3a;
}

.order-payment__final {
  display: none;
}

/* 
//////////
  Stage 2
/////////
*/

.final-payment__info {
  margin-bottom: 15px;
  display: flex;
  gap: 25px;
}

.address-info-final-payment__title {
  margin-bottom: 4px;
  font-size: 12px;
}

.address-info-final-payment__code,
.address-info-final-payment__amount {
  font-weight: 600;
  font-size: 14px;
}

.final-payment__loading {
  width: 100%;
  height: 276px;
  border-radius: 24px;
  background-color: #c6e6be;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  flex-direction: column;
}

.content-loading-final-payment__items {
  margin-bottom: 14px;
}

.content-loading-final-payment__text {
  font-size: 11px;
  max-width: 476px;
}

.content-loading-final-payment__items {
  display: flex;
  gap: 11px;
}

.content-loading-final-payment__item {
  display: flex;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  background-color: #35bd00;
  animation: bounce 2s infinite ease-in-out;
}

.content-loading-final-payment__item:nth-child(1) {
  transform: scale(1);
  /* animation: circle1 3.65s ease-in-out infinite; */
  animation-delay: 0.2s;
}

.content-loading-final-payment__item:nth-child(2) {
  transform: scale(1);
  animation-delay: 0.4s;
}

.content-loading-final-payment__item:nth-child(3) {
  transform: scale(1);
  animation-delay: 0.6s;
}

.feedbacks-swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}

.js-arrow {
  transition: all 0.3s;
}

.content-address-info-details-under__icon-box {
  display: flex;
  gap: 3px;
}

@media screen and (max-width: 820px) {
  .order-details__title-arrow {
    display: flex;
  }

  .order__content {
    display: none;
  }

  .full__order {
    flex-direction: column;
  }

  .order__content {
    margin-top: 12px;
  }

  .order__details {
    max-width: 100%;
    padding: 22px 34px 27px 24px;
  }

  .order-details__title-box {
    margin-bottom: 0;
  }

  .open-arrow {
    transition: all 0.3s;
    transform: rotate(180deg);
  }

  .icon-item-order__img {
    width: 56px;
    height: 56px;
    padding: 8px;
  }

  .convert-order__item {
    gap: 22px;
  }

  .item-order__info {
    gap: 15px;
  }

  .info-item-order__amount {
    font-size: 12px;
  }

  .info-item-order__address {
    font-size: 10px;
  }

  .title-mobile {
    margin-bottom: 38px;
  }

  .order__payment {
    padding: 15px 14px 30px 14px;
  }

  .convert-order__arrow {
    background-image: url("./../images/main/long-arrow-down.svg");
    height: 28px;
    margin-left: 20px;
  }

  .header-under-order__title {
    margin-bottom: 13px;
  }

  .under-order__header {
    margin-bottom: 18px;
  }

  .details-under__title {
    margin-bottom: 13px;
  }

  .details-under__info {
    padding: 9px 20px 10px 7px;
  }

  .content-address-info-details-under__icon-box {
    flex-wrap: wrap;
  }

  .info-details-under__text {
    padding: 15px 15px 15px 11px;
    margin-bottom: 9px;
  }

  .final-payment__info {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .address-info-details-under__title {
    margin-bottom: 6px;
  }

  .recieve-info-details-under__icon {
    width: 56px;
    height: 56px;
    padding: 8px;
  }

  .info-details-under__recieve {
    gap: 9px;
  }
}

@media screen and (max-width: 560px) {
  .info-details-under__total {
    align-items: start;
    flex-direction: column;
    gap: 26px;
  }

  .total-info-details-under__buttons {
    flex-direction: column;
    width: 100%;
    gap: 9px;
  }

  .total-info-details-under__buttons button {
    width: 100%;
  }

  .title-header-under-order__counter {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .feedbacks {
    gap: 0;
    padding: 10px 0;
  }

  .feedbacks.swiper-wrapper {
    display: flex !important;
  }
  .calculator__top {
    display: none;
  }
  .calculator-tabs__full::-webkit-scrollbar {
    height: 4px;
  }

  .main {
    margin-top: 71px;
  }
  .calculator__bottom {
    flex-wrap: wrap;
  }

  .calculator-tabs__full {
    height: 585px;
  }

  .calculator-bottom__receive {
    margin-bottom: 39px;
  }

  .calculator-bottom-send__title,
  .calculator-tabs__items {
    padding-left: 11px;
  }

  .calculator-bottom-send__title {
    margin-bottom: 20px;
    font-size: 25px;
  }

  .calculator-bottom__exchange,
  .calculator-exchange-details-form-block__input,
  .calculator-result-crypto__info {
    max-width: 100%;
  }

  .calculator-bottom__exchange {
    height: 100%;
  }

  .calculator-tabs-items__item {
    font-size: 16px;
  }

  .calculator-bottom__send,
  .calculator-bottom__receive {
    margin-right: 0;
    max-width: 100%;
    padding: 16px 12px 18px 12px;
  }

  .calculator-bottom__send {
    margin-bottom: 43px;
  }

  .item-block-currency__image {
    width: 65px !important;
    height: 65px !important;
    padding: 8px !important;
  }

  .item-block__currency {
    flex-direction: column;
    gap: 7px;
    padding: 7px 0 0 0;
    width: 165px;
  }

  ._active-receive .item-block-currency__image,
  ._active-valute .item-block-currency__image {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  }

  .calculator-tabs__items-content {
    display: grid;
    grid-template-columns: 165px 165px 165px 165px;
    grid-template-rows: 107px 107px 107px 107px 107px;
    grid-auto-flow: column;
  }

  .calculator-bottom__send,
  .calculator-bottom__receive {
    height: 100%;
  }

  .calculator-exchange-result__title {
    font-size: 25px;
    margin-bottom: 13px;
  }

  .calculator-result-crypto-info__icon-block img {
    width: 34px;
    height: 34px;
  }

  .exchange__rates tbody {
    gap: 8px;
  }

  .exchange__rates tr {
    font-size: 13px;
  }

  .calculator-exchange-result__crypto {
    margin-bottom: 15px;
  }

  .calculator-exchange-result__crypto {
    margin-bottom: 24px;
  }

  .calculator-exchange__result {
    margin-bottom: 22px;
  }

  .calculator-exchange-details__title,
  .calculator-exchange-result__title {
    font-size: 25px;
  }

  .calculator-exchange-details-form-block__input {
    font-size: 16px;
    padding: 12px 17px;
  }

  .calculator-exchange-details__title {
    margin-bottom: 18px;
  }

  .calculator-exchange-details-form-block__name {
    font-weight: 600;
    font-size: 16px;
  }

  .calculator-exchange-details-form__blocks {
    margin-bottom: 27px;
  }

  .checkbox {
    width: 28px;
    height: 28px;
  }

  .proceed-payment {
    max-width: 261px;
  }

  .calculator {
    margin-bottom: 30px;
  }

  .feedback-wrapper__title {
    text-align: center;
    margin-bottom: 33px;
  }

  .feedbacks-swiper {
    overflow: hidden;
  }

  .feedback-info__name {
    font-size: 14px;
  }

  .feedbacks-swiper {
    max-width: 1445px;
    position: relative;
    margin: 0 -109px;
  }
}

@media screen and (max-width: 450px) {
  .item-block__currency {
    width: 115px;
  }

  .calculator-tabs__items-content {
    grid-template-columns: 115px 115px 115px 115px;
  }

  .item-block-currency__image {
    width: 55px !important;
    height: 55px !important;
  }
}

/* 
///////////////////////
  Exchange rules
///////////////////////
*/

.help-exchange {
  margin-bottom: 61px;
}

.help__title {
  font-size: clamp(25px, 4vw, 32px);
  color: #595959;
  margin-bottom: 41px;
}

.help__wrapper-tabs {
  display: flex;
  gap: 43px;
  justify-content: space-between;
}

.help-wrapper-tabs__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 216px;
}

.help-wrapper-tabs__item {
  display: flex;
  align-items: center;
}

.help-wrapper-tabs__item a {
  font-size: 16px;
  color: #595959;
}

.help-wrapper-tabs__item.ui-tabs-active a,
.help-wrapper-tabs__item.ui-state-active {
  color: #35bd00;
  background-color: unset !important;
}

.help-wrapper-tabs__item a {
  padding-left: 8px;
}

.help-wrapper-tabs__item.ui-tabs-active::before {
  content: "";
  display: flex;
  width: 2px;
  height: 27px;
  background-color: #35bd00;
  position: absolute;
}

.content-help-tabs__item {
  width: 630px;
  padding: 16px 20px 19px 26px;
  -webkit-box-shadow: 0px 2px 8px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 8px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 8px 1px rgba(34, 60, 80, 0.2);
  border-radius: 13px;
  overflow: hidden;
}

.title-item-help-tabs__name {
  font-size: 14px;
  width: 100%;
}

.title-item-help-tabs__icon {
  background-image: url("./../images/main/push-arrow-bottom.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 14px;
  transition: all 0.6s;
}

.item-help-tabs__text {
  font-size: 11px;
  margin-top: 28px;
  display: none;
}

.item-help-tabs__title {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  cursor: pointer;
}

._active-help .title-item-help-tabs__icon {
  transform: rotate(180deg);
}

.help-tabs__items-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.help-wrapper-tabs__full-exchange {
  width: 100%;
  -webkit-box-shadow: 0px 2px 8px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 8px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 8px 1px rgba(34, 60, 80, 0.2);
  padding: 43px 37px 29px 21px;
  border-radius: 24px;

}

.help-tabs__items-content-item {
  font-size: 11px;
}


.help-tabs__items-content-item,
.help-tabs__items-content-item p,
.help-tabs__items-content-item strong, 
.item-help-tabs__items-content-list li {
  color: #595959;
}

.help-tabs__items-content-item strong,
.item-help-tabs__items-content-title {
  font-weight: 800;
}

.item-help-tabs__items-content-title {
  color: #595959;
  font-size: 14px;
}

.item-help-tabs__items-content-list {
  padding-left: 20px;
}

.item-help-tabs__items-content-list li {
  list-style-type: disc;
}

@media screen and (max-width: 1020px) {
  .content-help-tabs__item {
    width: 100%;
  }
}


@media screen and (max-width: 670px) {
  .help__wrapper-tabs {
    flex-direction: column;
  }

  .help-wrapper-tabs__items {
    flex-direction: row;
    max-width: 100%;
    width: 669px;
    padding-bottom: 5px;
    gap: 30px;
    overflow: auto;
    overflow-x: scroll;
    align-items: baseline;
  }

  .help-wrapper-tabs__item  {
    position: relative;
  }

  .help-wrapper-tabs__item a {
    max-width: 290px;
    padding-left: 0;
  }
  
  .help-wrapper-tabs__item {
    padding-bottom: 6px;
  }

  .help-wrapper-tabs__item.ui-tabs-active::before {
    width: 100%;
    height: 2px;
    bottom: 0;
  }

  .help__wrapper-tabs {
    gap: 15px;
  }

  .help-exchange .help-wrapper-tabs__items li:nth-child(1) a {
    width: 208px;
  }

  .help-exchange .help-wrapper-tabs__items li:nth-child(2) a {
    width: 141px;
  }

  .help-exchange .help-wrapper-tabs__items li:nth-child(3) a {
    width: 215px;
  }

  .aml .help-wrapper-tabs__items li:nth-child(1) a {
    width: 74px;
  }

  .aml .help-wrapper-tabs__items li:nth-child(2) a {
    width: 208px;
  }

  .aml .help-wrapper-tabs__items li:nth-child(3) a {
    width: 141px;
  }

  .aml .help-wrapper-tabs__items li:nth-child(4) a {
    width: 215px;
  }

  .help .help-wrapper-tabs__items li:nth-child(1) a {
    width: 166px;
  }

  .help .help-wrapper-tabs__items li:nth-child(2) a {
    width: 32px;
  }
}